@charset "utf-8";
/* CSS Document */

html{height:100%;}
body{min-height:100%;margin:0;padding:0;position:relative;}

header{background-color: #ffe4c4;}
main{padding-bottom:100px;background-color: #bdb76b;}/* main的padding-bottom值要等于或大于footer的height值 */
footer{position:absolute;bottom:0;width:100%;height:100px;}

.Yuan_Jiao{
text-align:center;
border:2px solid #CFCFCF;
padding:10px 40px; 
width:350px;
border-radius:25px;
-moz-border-radius:25px;
}

@media only screen and (max-width: 500px) {
    .Yuan_Jiao{
        width:175px;
    }
}

	.blur {
 
	filter: blur(5px);
				
	-webkit-filter: blur(5px);  /* chrome, opera */
				
	-ms-filter: blur(5px);
				
	-moz-filter: blur(5px);
				
	}

/*侧边栏选择器*/
.sidenav {
    height: 100%;
    width: 0; /*原始宽度为0*/
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}
 
/*侧边栏选项选择器*/
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
 
/*侧栏标签和关闭按钮光标的效果*/
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
 
/*侧栏和关闭按钮的位置选择器*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
 
/*当文档高度小于450px时，改变侧栏的padding属性和字体大小*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}