@charset "utf-8";

div.search {
  position: relative;
  width: 50%;
  margin: 0 auto;
  top: 100px;
}

input,
button {
  border: none;
  outline: none;
}

input {
  width: 100%;
  height: 42px;
}

button {
  height: 42px;
  width: 42px;
  cursor: pointer;
  position: absolute;
}

.bar input {
  border: 2px solid rgb(0, 120, 215);
  border-radius: 5px;
  background: white;
}

.bar button {
  background: rgb(0, 120, 215);
  border-radius: 0 5px 5px 0;
  width: 60px;
  top: 1;
  right: 0;
}

.bar button:before {
  content: "搜索";
  font-size: 13px;
  color: #f9f0da;
}
